.add-form {
  border-radius: 2rem;
  background: #87ceeb;
  box-shadow: 20px 20px 60px #73afc8, -20px -20px 60px #9bedff;
  margin: 1rem 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 30vh;
}

.form-item {
    margin: 1rem 0;
    width: 70%;
    padding: 0.25rem;
    background: white;
    border-radius: 0.5rem;
}

.form-item span{
    background-color: lightgray;
    padding: 2px 12px;
    border-radius: 0px 4px 4px 0px;
}

.form-item input{
    font-size: 1.25rem;
    border: none;
    outline: none;
    width: 70%;
}

/* DROPDOWN */
.category-container-parent{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.category{
    position: relative;
    width: 40%;
}

.category-dropdown{
    display: flex;
    justify-content: space-between;
    background: white;
    align-items: center;
    margin: 12px 0px;
    border-radius: 6px;
    padding: 4px;
}

.category-container{
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    width: 100%;
    /* background-color: white; */
}

.category-item{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    cursor: pointer;
    padding-right: 1.25rem;
    
}

.category-item img{
    height: 3rem;
    margin-right: 1.25rem;
}

/* add button */
.form-add-button{
    display: flex;
    justify-content: flex-end;
}

.form-add-button div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    padding: 2px 8px;
    border-radius: 6px;
    cursor: pointer;
    gap: 0.5rem;
}

.form-add-button .add-icon{
    font-size: 1.5rem;
}

.form-add-button div span{
    font-size: 1.25rem;
    font-weight: 300;

}

@media screen and (max-width: 1024px){
    .form-item{
        width: 100%;
    }
    .form-item input{
        width: 70%;
    }
    .amount-input{
        width: 50% !important;
    }
    .category{
        width: 80%;
    }
}