.top-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;

}

.home-layout {
    display: flex;
    justify-content: space-between;
    flex: 1;    
}

.searchbar {
    display: flex;
    align-items: center;
    width: 50%;
    background-color: white;
    border-radius: 1rem;

    padding-left: 0.5rem;
}


.searchbar input {
    border: none;
    outline: none;
    padding: 0.5rem;
    width: 80%;
    margin-left: 0.5rem;
}

.add-button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    font-size: 1.25rem;
    padding: 0 0.5rem;
    cursor: pointer;
}

.add-layout{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.add-layout-button {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    cursor: pointer;
    gap: 0.5rem;
}